/* Normalization Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}

@font-face {
    font-family: saiyan-sans;
    src: url(./assets/saiyan_sans/Saiyan-Sans.ttf);
}

html {
    /* Makes 1 rem equal to 10 pixels for easy math conversions */
    font-size: 62.5%;
}

/* Variables */
:root {
    --header-height: 3.5rem;
    --db-orange: #ff9922;
    --db-yellow: yellow;
    --db-red: red;
    --db-black: black;
    --db-blue: blue;
    --db-light-blue: rgba(0,212,255,1);
    --db-white: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--db-yellow);
}

header {
    z-index: 5;
    width: 100%;
    color: white;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    letter-spacing: .05rem;
    background-color: var(--db-red);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

header h1 {
    font-size: 3rem;
    font-family: saiyan-sans, sans-serif;
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}

header a {
    color: var(--db-yellow);
    text-decoration: none;
    margin: 1rem;
    font-size: 2.7rem;
    font-family: saiyan-sans, sans-serif;
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}

header a:hover {
    color: var(--db-light-blue);
}


nav a {
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: 2.7rem;
    font-family: saiyan-sans, sans-serif;
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}

main {
    margin-top: 60px;
    width: 100%;
    color: black;
}

.header-content img {
    height: 25px;
}

.header-content p {
    margin-top: .4rem;
    text-align: center;
}

@keyframes dragonball {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-container {
    height: calc(100vh - 60px);
    width: 100%;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, var(--db-light-blue) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dragon-ball {
    object-fit: cover;
    opacity: 0.99;
    animation: dragonball 30s infinite ease-in-out;
    border-radius: 50%;
}

.dragon-ball img {
    border-radius: 50%;
}

.dragon-ball-z-title {
    object-fit: cover;
    z-index: 1;

}
.dragon-ball-z-title img {
    width: 600px;
}

.story-container {
    padding: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    font-size: 7rem;
    margin-bottom: 3rem;
    font-family: saiyan-sans, sans-serif;
    color: var(--db-orange);
    letter-spacing: 0.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.story-container p {
    font-size: 2rem;
    letter-spacing: .03rem;
    line-height: 2;

}



@keyframes goku-animation {
    0% {
        transform: rotate(-30deg) scale(.6) translate(40%, 0%);
    }
    70% {
        transform: rotate(-30deg) scale(.8) translate(-40%, -10%);
    }
    80% {
        transform: rotate(-30deg) scale(1.1) translate(0%, 0%);

    }
    100% {
        transform: rotate(-30deg) scale(1) translate(5%, 0%);
    }
}

@keyframes vegeta-animation {
    0% {
        transform: rotate(-15deg) scale(.6) translate(-10%, -22%);
    }
    20% {
        transform: rotate(-8deg) scale(.7) translate(60%, -10%);
    }
    40% {
        transform: rotate(-16deg) scale(.8) translate(-30%, -8%);
    }
    100% {
        transform: rotate(-10deg) scale(1) translate(30%, 10%);
    }
}

.goku-animation {
    animation: goku-animation 2s infinite ease-in;
    animation-direction: alternate;
}

.vegeta-animation {
    animation: vegeta-animation 3s infinite ease-out;
    animation-direction: alternate;
    
}

.fighters-container {
    background-color: var(--db-yellow);
    padding: 0 10rem;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fighter-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 8rem;
}

.fighter-image-container {
    object-fit: cover;
    z-index: 1;
    transition: 1s ease;
    height: 500px;
}

.fighter-image-container img {
    height: 100%;
    width: 100%;
}

.fighter-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.fighter-text h3 {
    font-size: 5rem;
    text-align: left;
    color: var(--db-red);
    margin-bottom: 3rem;
    font-family: saiyan-sans, sans-serif;
    letter-spacing: 0.4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fighter-text p {
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .03rem;
    line-height: 2;
}

#goku {
    transform: rotate(-30deg) scale(1) translate(0%, 0%);
    background: radial-gradient(var(--db-orange), transparent 50%);
}

#goku:hover {
    animation: goku-animation 2s infinite ease-in;
    animation-direction: alternate;
}

#vegeta {
    transform: rotate(-10deg) scale(1) translate(0%, 0%);
    background: radial-gradient(var(--db-light-blue), transparent 50%);
}

#vegeta:hover {
    animation: vegeta-animation 3s infinite ease-out;
    animation-direction: alternate;
}

 .justify-right {
    align-self: flex-end;
 }

#frieza {
    background: radial-gradient(violet, transparent 60%);
}

#frieza:hover {
    background: radial-gradient(black, transparent 60%);
}

#broly {
    background: radial-gradient(lime, transparent 60%);
    transform: scale(1.6);
}

.links-container {
    height: 10vh;
    width: 100%;
    background-color: var(--db-red);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.links-container i {
    font-size: 4rem;
    color: var(--db-yellow);
    text-shadow: 0 1px 6px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.links-container a {
    text-decoration: none;
    transition: 300ms ease;
}

.links-container a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1220px) {
    .fighter-section {
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    
    .fighter-text {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        order: 2;
    }

    .fighter-image-container {
        order: 1;
    }

    #broly {
        transform: scale(1);
    }

    .dragon-ball {
        height: unset;
        width: 50%;
    }

    .dragon-ball-z-title {
        width: 50%;
        height: unset;
    }

    .story-container {
        padding: 2rem;
    }
}
